/* debug */
.debug{
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
}
/* /debug/ */

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* colori di background */
.bk_cl_bk{
  background-color: black;
  border-color: black;
}
.bk_cl_bl{
  background-color: blue;
  border-color: blue;
}
.bk_cl_g{
  background-color: green;
  border-color: green;
}
/* /colori di background/ */

/* colore testo */
.cl_w{
  color: white;
}
/* /colore testo/ */

/* utility */
.mrgn_tp_50{
  margin-top: 50px;
}
/* /utility/ */
