/* debug */
.debug{
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
}
/* /debug/ */

/* utility */
.mrgn_tp_50{
  margin-top: 50px;
}
.mrgn_bm_50{
  margin-bottom: 50px;
}
.mrgn_tp_20{
  margin-top: 20px;
}
.mrgn_bm_20{
  margin-bottom: 20px;
}
.p_t_20{
  padding-top: 20px;
}
.p_t_20{
  padding-bottom: 20px;
}
/* colori di background */
.bk_cl_bk{
  background-color: black;
  border-color: black;
}
.bk_cl_w{
  background-color: white;
  border-color: white;
}
.bk_cl_aq{
  background-color: aqua;
  border-color: aqua;
}
.bk_cl_dbl{
  background-color: darkblue;
  border-color: darkblue;
}
.bk_cl_ddbl{
  background-color: #000033;
  border-color: #000033;
}
.bk_cl_g{
  background-color: green;
  border-color: green;
}
/* /colori di background/ */

/* colore testo */
.cl_w{
  color: white;
}
/* /colore testo/ */

/* Extra Small screen media */
@media all and (max-width: 481px) {
  .col-xxs_12 {
    width: 100%;
  }
}
/* /Extra Small screen media/ */
/* /utility/ */

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.txt_height{
  height: 100px;
}
