*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
.debug{
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
}
/* /debug/ */

/* utility */

.fnt_3{
  font-size: 3em;
}
.fnt_2{
  font-size: 2em;
}

/* margini e padding */
.mrgn_tp_100{
  margin-top: 100px;
}
.mrgn_tp_50{
  margin-top: 50px;
}
.mrgn_bm_50{
  margin-bottom: 50px;
}
.mrgn_tp_20{
  margin-top: 20px;
}
.mrgn_bm_20{
  margin-bottom: 20px;
}
.p_t_20{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* /margini e padding/ */

/* colori di background */
.bk_cl_w{
  background-color: white;
  border-color: white;
}
.bk_cl_c3e50{
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.bk_cl_1a252f{
  background-color: #1a252f;
  border-color: #1a252f;
}
.bk_cl_g{
  background-color: #1abc9c;
  border-color: #1abc9c;
}
/* /colori di background/ */

/* colore testo */
.cl_w{
  color: white;
}
.cl_2c3e50 {
  color: #2c3e50
}
/* /colore testo/ */

/* Extra Small screen media */
@media all and (max-width: 481px) {
  .col-xxs_12 {
    width: 100%;
  }
}
/* /Extra Small screen media/ */
/* /utility/ */

.img_15{
  width: 15em;
  margin-bottom: 3rem;
}
.img_portfolio{
  width: 100%;
  border-radius: 5px;
}

.bt_fd{
  padding: 10px;
  color: white;
  background-color: #1abc9c;
  border: 1px solid white;
  border-radius: 5px;
}

.bt_cl_g{
  padding: 10px;
  color: white;
  background-color: #1abc9c;
  border: 1px solid white;
  border-radius: 5px;
}
#nav_brand{
  color: white;
}

#nav_portfolio, #nav_about, #nav_contact{
  color: white;
}

#nav_portfolio:hover, #nav_about:hover, #nav_contact:hover{
  color: #1abc9c;
}

#footer_abt_frlnc{
  color: #1abc9c;
}
